* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #003830;
}
.container {
  padding-top: 30px;
  width: 100%;
  max-width: calc(1200px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* display: grid; */
  grid-template-columns: 3;
  grid-template-rows: 2;
}
body {
  z-index: 0;
}
#title,
#text {
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background-color: #e7fefe;
}
input[type="text"]::placeholder {
  color: inherit;
}
.Btn {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  min-width: 30px;
  background-color: #005c62;
  border: none;
  color: #e7fefe;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#customAlert {
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
  display: none;
}
#customAlert.active {
  z-index: 7;
  display: flex;
}
#alert {
  display: none;
  aspect-ratio: 3/4;
  background-color: #e7fefe;
  padding: 25px;
  border: none;
  border-radius: 5px;
}
#alerTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #005c62;
  font-size: 20px;
}
#alerText {
  margin-top: 10px;
  margin-bottom: 10px;
}
#alertBtn {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  min-width: 30px;
  background-color: #005c62;
  border: none;
  color: #e7fefe;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.line {
  border: none;
  height: 1px;
  background-color: #005c62;
  margin-top: 3px;
  margin-bottom: 3px;
}
#alert.active {
  z-index: 7;
  display: block;
}
.dark {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
